@tailwind preflight;

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
  }
  
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  /* @import url('../fonts/KantumruyPro-Italic-VariableFont_wght.ttf');
  @import url('../fonts/KantumruyPro-VariableFont_wght.ttf');
  @import url('../fonts/Roboto-Italic-VariableFont_wdth_wght.ttf');
  @import url('../fonts/Roboto-VariableFont_wdth_wght.ttf'); */

@font-face {
    font-family: "Kantumruy Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/KantumruyPro-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    src: url('../fonts/Roboto-VariableFont_wdth_wght.ttf');
}
